<!DOCTYPE html>
<html>
<head>
<title>CloudLaunch DevOps App</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body {
  font-family: Arial;
  background: #0f2027;
  color: white;
  text-align: center;
}

.card {
  background: #203a43;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 8px;
  background: #00ffcc;
  border: none;
}
</style>
</head>

<body>

<h1>🚀 CloudLaunch DevOps App</h1>

<div class="card">
<h2>📦 Version</h2>
<p id="version">Loading...</p>
</div>

<div class="card">
<h2>📝 Task Manager</h2>

<form method="POST" action="/add">
<input name="task" placeholder="New Task">
<button>Add</button>
</form>

<ul>
{% for t in tasks %}
<li>{{t}} <a href="/delete/{{loop.index0}}">❌</a></li>
{% endfor %}
</ul>

</div>

<div class="card">
<h2>📊 CPU Graph</h2>
<canvas id="chart"></canvas>
</div>

<script>

// Version Fetch
async function loadVersion(){
  let res = await fetch("/version");
  let v = await res.text();
  document.getElementById("version").innerText = v;
}
loadVersion();
setInterval(loadVersion,5000);

// Chart
let chart = new Chart(document.getElementById("chart"),{
  type:"line",
  data:{
    labels:[1,2,3,4,5,6,7,8,9,10],
    datasets:[{data:Array(10).fill(50), borderColor:"lime"}]
  },
  options:{plugins:{legend:{display:false}}}
});

setInterval(()=>{
  chart.data.datasets[0].data.shift();
  chart.data.datasets[0].data.push(Math.random()*100);
  chart.update();
},2000);

</script>

</body>
</html>